.jumbotron {
    background-image: url("https://github.com/donnaadietrich/utexas-homework-Javascript-intro/blob/master/alien2.jpg?raw=true"); 
    background-position: top center; 
    background-size: cover;
    padding: 12%;
    Color: chartreuse; 
    font: Impact; 

}

.page-header {
    background-color: #34282C;
    color: chartreuse;
    text-indent: 5%;
    }

.page-style{
    background-color: #34282C;
    color: white;
    font: Impact;
    font-size: 1em;
}

.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: darkolivegreen; 

   