.jumbotron{
    margin-top: 20px;
    background-image: url("https://github.com/donnaadietrich/utexas-homework-Javascript-intro/blob/master/alien.jpg?raw=true"); 
    height: 500px
    Color: chartreuse; 
    font: Impact; 
}