.jumbotron {
    background-image: url("https://github.com/donnaadietrich/utexas-homework-Javascript-intro/blob/master/alien2.jpg?raw=true"); 
    background-position: top center; 
    background-size: cover;
    padding: 12%;
    Color: chartreuse; 
    font: Impact; 

}

.page-header {
    background-color: #34282C;
    color: chartreuse;
    text-indent: 5%;
    }

.page-style{
    background-color: #34282C;
    color: white;
    font: Impact;
    font-size: 1em;
}

.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: darkolivegreen; 

   tr:hover:not(th) {background-color: rgba(237,28,64,.1);}


input[type="button"] {
	transition: all .3s;
    border: 1px solid black;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
	font-size: 15px;
}

input[type="button"]:not(.active) {
	background-color: darkolivegreen;
}

.active {
	background-color: black;
	color : white;
}

input[type="button"]:hover:not(.active) {
	background-color: darkolivegreen;
}